    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/palettes">Palette Generator</a></li>
                <li><a href="/gradients">Gradient Generator</a></li>
                <li><a href="/curves">Curve Generator</a></li>
            </ul>
            <h3 class="text-muted">Building Helper</h3>
        </nav>
    </div>