<header class="header">
  <nav class="nav-container">
    <h3 class="logo">Building Helper</h3>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/palettes">Palette Generator</a></li>
      <li><a href="/gradients">Gradient Generator</a></li>
      <li><a href="/curves">Curve Generator</a></li>
    </ul>
  </nav>
</header>