<html>
    <head>
      <title>Curves</title>
  </head>
  <canvas id="curveCanvas" width="800" height="800"></canvas>

  <script>
  const gridSize = 25;
  const radius = 8;
  var draggingPoint = null;

  var points = [
    {x:50, y:300},
    {x:150, y:50},
    {x:450, y:50},
    {x:550, y:300}
  ];

  const canvas = document.getElementById("curveCanvas");
  const context = canvas.getContext("2d");

  // curve generation function
  function cubicBezier(p0, p1, p2, p3) {
    return function (t) {
      const u = 1 - t;

      return {
        x:
          Math.pow(u,3) * p0.x +
          3 * Math.pow(u,2) * t * p1.x +
          3 * u * Math.pow(t,2) * p2.x +
          Math.pow(t,3) * p3.x,

        y:
          Math.pow(u,3)*p0.y +
          3*Math.pow(u,2)*t*p1.y +
          3*u*Math.pow(t,2)*p2.y +
          Math.pow(t,3)*p3.y
      };
    };
  }

  function drawGrid(){

    context.strokeStyle="#ddd";
    context.lineWidth=1;

    for(var x = 0; x <= canvas.width; x += gridSize){
      context.beginPath();
      context.moveTo(x,0);
      context.lineTo(x,canvas.height);
      context.stroke();
    }

    for(var y = 0; y <= canvas.height; y += gridSize){
      context.beginPath();
      context.moveTo(0,y);
      context.lineTo(canvas.width,y);
      context.stroke();
    }
  }

  function draw() {

    context.clearRect(0,0,canvas.width,canvas.height);

    drawGrid();

    const [p0,p1,p2,p3] = points;
    const curve = cubicBezier(p0,p1,p2,p3);
    const crossed = new Set();

    // draw curve
    context.beginPath();

    // iterate long curve
    for(var t = 0; t <= 1; t += 0.003){
      const p = curve(t);

      if(t === 0) {
        context.moveTo(p.x,p.y);
      } else {
        context.lineTo(p.x,p.y);
      }

      const col = Math.floor(p.x / gridSize);
      const row = Math.floor(p.y / gridSize);

      crossed.add(row + "," + col); //TODO: surely there's a better way to do this
    }

    context.strokeStyle="blue";
    context.lineWidth=2;
    context.stroke();

    
    // fill visited cells
    context.fillStyle="rgba(0,150,255,0.3)";

    crossed.forEach(key => {
      const [row,col] = key.split(",").map(Number);

      // fill in grid rectangle
      context.fillRect(
        col*gridSize,
        row*gridSize,
        gridSize,
        gridSize
      );
    });


    // line from p0 to p1
    context.beginPath();
    context.moveTo(p0.x,p0.y);
    context.lineTo(p1.x,p1.y);
    context.setLineDash([5,5]);
    context.strokeStyle="gray";
    context.stroke();

    // line from p2 to p3
    context.beginPath();
    context.lineTo(p2.x,p2.y); 
    context.lineTo(p3.x,p3.y);
    context.setLineDash([5,5]);
    context.strokeStyle="gray";
    context.stroke();
    context.setLineDash([]); // reset line dashing


    // draw points
    points.forEach((p,i) => {
      context.beginPath();
      context.arc(p.x,p.y,radius,0,Math.PI*2);

      context.fillStyle = "grey"

      context.fill();
    });
  }

  // mouse position function
  function getMousePos(evt){
    const rect = canvas.getBoundingClientRect();

    return {
      x: evt.clientX - rect.left,
      y: evt.clientY - rect.top
    };
  }

  // mouse click function
  canvas.addEventListener("mousedown", (e) => {
    const mouse = getMousePos(e);

    // iterate through each point
    points.forEach(p => {
      // get distance from point
      const dx = mouse.x - p.x;
      const dy = mouse.y - p.y;

      // is the mouse within this point?
      if(Math.sqrt(dx*dx + dy*dy) < radius){
        draggingPoint = p;
      }
    });
  });

  // dragging the point
  canvas.addEventListener("mousemove",(e)=>{
    if(!draggingPoint) return;

    const mouse = getMousePos(e);

    draggingPoint.x = mouse.x;
    draggingPoint.y = mouse.y;

    draw();
  });


  // detect mouse unclick
  canvas.addEventListener("mouseup",()=>{
    draggingPoint = null;
  });

  draw();
  </script>
</html>