<html>
    <head>
      <title>Curves</title>
  </head>
  <canvas id="curveCanvas" width="1920" height="1080"></canvas>

  <script>
  const canvas = document.getElementById("curveCanvas");
  const ctx = canvas.getContext("2d");
  const gridSize = 25;

  var points = [
    {x:50, y:300},
    {x:150, y:50},
    {x:450, y:50},
    {x:550, y:300}
  ];

  var draggingPoint = null;
  const radius = 8;

  // curve generation function
  function cubicBezier(p0, p1, p2, p3) {
    return function (t) {
      const u = 1 - t;

      return {
        x:
          Math.pow(u,3) * p0.x +
          3 * Math.pow(u,2) * t * p1.x +
          3 * u * Math.pow(t,2) * p2.x +
          Math.pow(t,3) * p3.x,

        y:
          Math.pow(u,3)*p0.y +
          3*Math.pow(u,2)*t*p1.y +
          3*u*Math.pow(t,2)*p2.y +
          Math.pow(t,3)*p3.y
      };
    };
  }

  function drawGrid(){

    ctx.strokeStyle="#ddd";
    ctx.lineWidth=1;

    for(let x=0;x<=canvas.width;x+=gridSize){
      ctx.beginPath();
      ctx.moveTo(x,0);
      ctx.lineTo(x,canvas.height);
      ctx.stroke();
    }

    for(let y=0;y<=canvas.height;y+=gridSize){
      ctx.beginPath();
      ctx.moveTo(0,y);
      ctx.lineTo(canvas.width,y);
      ctx.stroke();
    }
  }

  function draw() {

    ctx.clearRect(0,0,canvas.width,canvas.height);

    drawGrid();

    const [p0,p1,p2,p3] = points;
    const curve = cubicBezier(p0,p1,p2,p3);
    const crossed = new Set();

    // draw curve
    ctx.beginPath();

    for(var t=0; t<=1; t+=0.01){
      const p = curve(t);

      if(t===0) ctx.moveTo(p.x,p.y);
      else ctx.lineTo(p.x,p.y);

      const col = Math.floor(p.x / gridSize);
      const row = Math.floor(p.y / gridSize);

      crossed.add(row + "," + col);
    }

    ctx.strokeStyle="blue";
    ctx.lineWidth=2;
    ctx.stroke();

    
    // fill visited cells
    ctx.fillStyle="rgba(0,150,255,0.3)";

    crossed.forEach(key=>{
      const [row,col] = key.split(",").map(Number);

      ctx.fillRect(
        col*gridSize,
        row*gridSize,
        gridSize,
        gridSize
      );
    });


    // line from p0 to p1
    ctx.beginPath();
    ctx.moveTo(p0.x,p0.y);
    ctx.lineTo(p1.x,p1.y);
    ctx.setLineDash([5,5]);
    ctx.strokeStyle="gray";
    ctx.stroke();
    ctx.setLineDash([]);

    // line from p2 to p3
    ctx.beginPath();
    ctx.lineTo(p2.x,p2.y); 
    ctx.lineTo(p3.x,p3.y);
    ctx.setLineDash([5,5]);
    ctx.strokeStyle="gray";
    ctx.stroke();
    ctx.setLineDash([]);


    // draw points
    points.forEach((p,i)=>{
      ctx.beginPath();
      ctx.arc(p.x,p.y,radius,0,Math.PI*2);

      ctx.fillStyle = "grey"

      ctx.fill();
    });
  }

  // mouse position function
  function getMousePos(evt){
    const rect = canvas.getBoundingClientRect();

    return {
      x: evt.clientX - rect.left,
      y: evt.clientY - rect.top
    };
  }

  // mouse click function
  canvas.addEventListener("mousedown",(e)=>{
    const mouse = getMousePos(e);

    points.forEach(p=>{
      const dx = mouse.x - p.x;
      const dy = mouse.y - p.y;

      if(Math.sqrt(dx*dx + dy*dy) < radius){
        draggingPoint = p;
      }
    });
  });

  // dragging the point
  canvas.addEventListener("mousemove",(e)=>{
    if(!draggingPoint) return;

    const mouse = getMousePos(e);

    draggingPoint.x = mouse.x;
    draggingPoint.y = mouse.y;

    draw();
  });


  // detect mouse unclick
  canvas.addEventListener("mouseup",()=>{
    draggingPoint = null;
  });

  draw();
  </script>
</html>