<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Curves</title>
  </head>
  <body>
    <%- include('partials/menu.ejs') %>
    <main>
      <canvas id="curveCanvas" width="700" height="700"></canvas>
      <div class="curveControls" style="max-width: 710px;">
        <button id="subSize">-</button>
        <t id="sizeOut">15 Blocks</t>
        <button id="addSize">+</button>
        <button id="hideCurve">Hide Curve</button>
        <button id="sym">Make Symmetrical</button>
      </div>
    </main>
  </body>

  <script>
  // grid
  const canvas = document.getElementById("curveCanvas");
  const context = canvas.getContext("2d");

  // buttons
  const hideCurve = document.getElementById("hideCurve");
  const symButton = document.getElementById("sym");
  const subButton = document.getElementById("subSize");
  const plusButton = document.getElementById("addSize");
  const sizeOut = document.getElementById("sizeOut");

  // constants and variables
  var gridSize = 15;
  var stepSize = canvas.width / gridSize;

  const radius = 10;
  var fontSize = 24;
  var draggingPoint = null;
  var curveActive = true;
  var isSymmetrical = false;

  var points = [
    {x:50, y:500},
    {x:150, y:100},
    {x:450, y:50},
    {x:550, y:300}
  ];
  var oldWidth = window.innerHeight-140; // used to rescale points when resizing window

  // initialize window size
  resize()

  // rescale points and canvas
  function resize() {
    // resize canvas
    if (window.innerHeight <= window.innerWidth) {
      canvas.width = window.innerHeight-140;
      canvas.height = window.innerHeight-140;
    } else {
      canvas.width = window.innerWidth-140;
      canvas.height = window.innerWidth-140;
    }

    // recompute stepsize based on canvas width
    stepSize = canvas.width / gridSize;

    // rescale points based on previous window size and new window size
    points.forEach(p => {
      p.x = p.x / oldWidth * canvas.width;
      p.y = p.y / oldWidth * canvas.width;
    });

    // update oldwidth
    oldWidth = canvas.width;
  }

  // curve generation function
  function cubicBezier(p0, p1, p2, p3) {
    return function (t) {
      const u = 1 - t;

      return {
        x:
          Math.pow(u,3) * p0.x +
          3 * Math.pow(u,2) * t * p1.x +
          3 * u * Math.pow(t,2) * p2.x +
          Math.pow(t,3) * p3.x,

        y:
          Math.pow(u,3) * p0.y +
          3 * Math.pow(u,2) * t * p1.y +
          3 * u * Math.pow(t,2) * p2.y +
          Math.pow(t,3) * p3.y
      };
    };
  }

  function drawGrid(){
    // grey 
    context.strokeStyle="#ddd";
    context.lineWidth=1;

    // vertical grid lines
    for(var x = 0; x <= canvas.width; x += stepSize){
      context.beginPath();
      context.moveTo(x,0);
      context.lineTo(x,canvas.height);
      context.stroke();
    }

    // horizontal grid lines
    for(var y = 0; y <= canvas.height; y += stepSize){
      context.beginPath();
      context.moveTo(0,y);
      context.lineTo(canvas.width,y);
      context.stroke();
    }
  }

  function draw() {

    if (isSymmetrical) {
      flipPoints();
    }

    context.clearRect(0,0,canvas.width,canvas.height);

    drawGrid();

    const [p0,p1,p2,p3] = points;
    const curve = cubicBezier(p0,p1,p2,p3);
    const crossed = new Set();

    // draw curve
    context.beginPath();

    // iterate long curve
    for(var t = 0; t <= 1; t += 0.0001){
      const p = curve(t);

      // only draw curve if curve is active
      if (curveActive) {
        if (t === 0) {
          context.moveTo(p.x,p.y);
        } else {
          context.lineTo(p.x,p.y);
        }
      }

      const col = Math.floor(p.x / stepSize);
      const row = Math.floor(p.y / stepSize);

      crossed.add(row + "," + col); //TODO: surely there's a better way to do this
    }

    context.strokeStyle="blue";
    context.lineWidth=2;
    context.stroke();

    
    // fill visited cells
    context.fillStyle="rgba(0,150,255,0.3)";

    crossed.forEach(key => {
      const [row,col] = key.split(",").map(Number);

      // fill in grid rectangle
      context.fillRect(
        col*stepSize,
        row*stepSize,
        stepSize,
        stepSize
      );
    });


    // line from p0 to p1
    context.beginPath();
    context.moveTo(p0.x,p0.y);
    context.lineTo(p1.x,p1.y);
    context.setLineDash([5,5]);
    context.strokeStyle="gray";
    context.stroke();

    // line from p2 to p3
    if (!isSymmetrical) {
      context.beginPath();
      context.lineTo(p2.x,p2.y); 
      context.lineTo(p3.x,p3.y);
      context.setLineDash([5,5]);
      context.strokeStyle="gray";
      context.stroke();
    }
    context.setLineDash([]); // reset line dashing

    // draw line of symmetry
    if (isSymmetrical) {
      context.beginPath();
      context.lineTo(canvas.width/2,0);
      context.lineTo(canvas.width/2,canvas.height);
      context.stroke();
    }

    // draw distance lines
    var dists = computeDistance();
    console.log(points[0].y, points[3].y);

    context.beginPath();
    context.setLineDash([5,5]);
    context.strokeStyle="gray";
    context.font = fontSize+"px sans-serif";

    // y position is whichever point is lower + some offset
    if (points[0].y > points[3].y) {
      var yPos = points[0].y + 0.5*stepSize;
    } else {
      var yPos = points[3].y + 0.5*stepSize; 
    }

    // figure out which point is left and which is right
    if (points[0].x > points[3].x) {
      var leftPoint = points[3];
      var rightPoint = points[0];
    } else {
      var leftPoint = points[0];
      var rightPoint = points[3];
    }

    // horizontal distance line
    context.lineTo(points[0].x, yPos);
    context.lineTo(points[3].x, yPos);
    context.fillText(dists.x + " Blocks", leftPoint.x, yPos+stepSize/2);
    context.stroke();

    context.setLineDash([]); // reset line dashing

    // draw points
    points.forEach((p,i) => {

      if (!isSymmetrical || i < 2) {
        context.beginPath();
        context.arc(p.x,p.y,radius,0,Math.PI*2);
        if (i % 3 == 0) { // points 0 and 3 are black (curve end points)
          context.fillStyle = "black";
        } else { // points 1 and 2 are grey (curve control points)
          context.fillStyle = "grey";
        }
      }

      context.fill();
    });
  }

  function computeDistance() {
    var x = Math.abs(Math.floor(points[0].x/stepSize)-Math.floor(points[3].x/stepSize))+1;
    var y = Math.abs(Math.floor(points[0].y/stepSize)-Math.floor(points[3].y/stepSize))+1;
    return {x, y};
  }

  function flipPoints() {
    // control points
    var p0 = points[0];
    var p1 = points[1];
    points[2].x = canvas.width - p1.x
    points[2].y = p1.y
    points[3].x = canvas.width - p0.x
    points[3].y = p0.y
  }

  // mouse position function
  function getMousePos(evt){
    const rect = canvas.getBoundingClientRect();

    return {
      x: evt.clientX - rect.left,
      y: evt.clientY - rect.top
    };
  }

  // mouse click function
  canvas.addEventListener("mousedown", (e) => {
    const mouse = getMousePos(e);

    // iterate through each point
    points.forEach((p,i) => {
      // get distance from point
      const dx = mouse.x - p.x;
      const dy = mouse.y - p.y;

      // is the mouse within this point?
      if(Math.sqrt(dx*dx + dy*dy) < radius){
        draggingPoint = p;
      }
    });
  });

  // dragging the point
  canvas.addEventListener("mousemove",(e) => {
    if(!draggingPoint) return;

    const mouse = getMousePos(e);

    draggingPoint.x = mouse.x;
    draggingPoint.y = mouse.y;

    draw();
  });


  // detect mouse unclick
  canvas.addEventListener("mouseup",() => {
    draggingPoint = null;
  });

  // hide curve button
  hideCurve.addEventListener('mousedown', function(data) {
    curveActive = !curveActive;
    if (curveActive) {
      hideCurve.innerHTML = "Hide Curve";
    } else {
      hideCurve.innerHTML = "Show Curve";
    }
    draw();
  });

  // symmetrical button
  symButton.addEventListener('mousedown', function(data) {
    isSymmetrical = !isSymmetrical;
    if (isSymmetrical) {
      symButton.innerHTML = "Make Asymmetrical";
    } else {
      symButton.innerHTML = "Make Symmetrical";
    }
    draw();
  });

  // increase grid size button
  plusButton.addEventListener('mousedown', function(data) {
    gridSize += 1;
    stepSize = canvas.width / gridSize;
    sizeOut.innerHTML = gridSize+" Blocks";
    draw();
  });

  // decrease grid size button
  subButton.addEventListener('mousedown', function(data) {
    gridSize -= 1;
    stepSize = canvas.width / gridSize;
    sizeOut.innerHTML = gridSize+" Blocks";
    draw();
  });

  // on resize
  window.addEventListener('resize', () => {
    resize();
    draw();
  });

  // draw unconditionally
  draw();
  </script>
</html>