<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>

<%- include('partials/menu.ejs') %>
<h1>Hello World</h1>
<a href="/palettes">Palettes</a>
<a href="/gradients">Gradients</a>
<a href="/curves">Curves</a>

</body>
</html> 