<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('partials/menu.ejs') %>
        <main>
            <h1>Hello World</h1>
            <a href="/palettes">Palettes</a>
            <a href="/gradients">Gradients</a>
            <a href="/curves">Curves</a>
        </main>
    </body>
</html> 