:root {
  --dark-colour:#1e293b;
  --light-colour: #cbd5f5;
  --main-colour: #3b82f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* debug border */
  /* border: 3px dotted black;  */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--dark-colour);
}

main {
  background: white;
  min-height: 100vh;
  padding: 20px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 5px solid var(--light-colour);
}

.centerPage {
  width: 700px;
  padding: 0;
  display: block;
  margin: auto;
}

.curveControls {
  padding: 0;
  display: block;
  margin: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: var(--dark-colour);
  padding: 15px 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--light-colour);
  font-weight: 600;
  font-size: 1.4rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--light-colour);
  font-size: 0.95rem;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.nav-links a:hover {
  background: var(--main-colour);
  color: white;
}